include LICENSE.txt
include README.md
include setup.cfg
include setup.py
include Dellingr/__init__.py
include Dellingr/AdapterPredict.py
include Dellingr/Collapse.py
include Dellingr/Trim.py
include bin/dellingr
include Dellingr/DellingrPipeline.py
include Dellingr/Call.py
include Dellingr/ClipOverlap.py
include Dellingr/UpdateConfig.py
include Dellingr/Train.py
include Dellingr/ResumePipeline.py
include Dellingr/default_filter.pkl
